<a href="https://colab.research.google.com/github/sakshisinghal936/DA-weekday-batch/blob/main/Conditions_class18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Varaibles & Assignment

In [48]:
a = 10

In [50]:
print(a)
print(a+10)
print(a*10)
print("a"+"sakshi")

10
20
100
asakshi

In [51]:
"a"

'a'

In [61]:
n = int(input("Enter a number:" ))
print(n)

Enter a number:24
24

In [58]:
print(n)

5

In [62]:
print(n+20)

44

- Simple Interest
- Compound interest (total amount)
- Volume of Sphere

In [64]:
r = int(input("Enter the radius:" ))

print("Volume of the given sphere is" ,(4/3) * 22/7 * r**3)

Enter the radius:3
Volume of the given sphere is 113.14285714285715

In [70]:
n = n + 1

In [71]:
print(n)

25

In [66]:
print(n * r)

72

In [67]:
P = int(input("Enter principal amount " ))
R = int(input("Enter rate " ))
T = int(input("Enter time in years " ))

print("Simple Interest " , P*R*T/100)

Enter principal amount 8
Enter rate 9
Enter time in years 4
Simple Interest  2.88

In [68]:
print(n)

24

In [78]:
x = 10
print(x+1)
x += 1
print(x)
x +=1
print(x)

x += 5
print(x)

x -=3
print(x)

11
11
12
17
14

In [79]:
x *=3
print(x)

x /= 2
print(x)

42
21.0

In [80]:
x *=3
print(x)

x /= 2
print(x)

63.0
31.5

### 2. Operators

In [83]:
age  = 15

print(age >12 and age <14)
print(age>18)

False
False

### 3. Conditions

- Check if a number is even or odd
- Check if a number is positive, negative, or zero
- Determine a person's stage of life (child, teen, adult, senior) based on age
- Check if a password meets length criteria (at least 8 characters)
- Check if a number is positive, and if so, whether it's even or odd
- Check if a number is divisible by both 3 and 5
- If a number is even, check if it is also divisible by 4.

#### 3.1) if

In [ ]:
age = 19

if(age>18):
  print("Valid age")
  print("Sakshi Singhal")
print("Sakshi")

In [99]:
age = 18
if(age>=18):
  print("Val")
if(age<18):
  print("Not val")

Val

#### 3.2) if-else

In [103]:
age = 120
if(age>=18):
  print("Val")
else:
  print("Not val")

Val

In [112]:
age = -100
if(age>=18):
  if(age<100):
    print("Valid age")
  else:
    print("Data is not correct")
else:
  if(age>0):
    print("Not valid")
  else:
     print("Data is not correct")

Data is not correct

In [116]:
age= 12
if(age>=18):
  print("Valid Data")
else:
  print("Not Valid")

SyntaxError: expected ':' (<ipython-input-116-b6e3b1ec1a66>, line 4)

#### 3.3) if-elif

In [118]:
age = 12
if(age<-100):
  print("Data is incorrect")
elif(age<=18):
  print(" not valid")
elif(age<100):
  print("Valid age")
else:
  print("Data is incorrect")

 not valid

In [119]:
age = 12
if(age<-100):
  print("Data is incorrect")
elif(age<100):
  print("Valid age")
elif(age<=18):
  print(" not valid")
else:
  print("Data is incorrect")

Valid age

#### 3.4) if-elif-else

#### 3.5) nested if

#### 3.6) nested if-else with logical operators

In [121]:
age = 15
if(age>0 and age<18):
  print("not valid")
elif(age>=18 and age<100):
  print("Valid age")
else:
  print("Data is not correct")

not valid

### 4. Loops

- table of a number
- table of number with range
- table of number in reverse
- sum of n natural numbers
- product of n natural numbers
- sample space if you're rolling 2 dices