<a href="https://colab.research.google.com/github/sakshisinghal936/DA-weekday-batch/blob/main/Dictionaries_class21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Lists vs Dictionary

In [ ]:
user1 = [1, "Sakshi", 68,70, 75,432924650]
user2 =

In [ ]:
lst = [[1, "Sakshi", 68,70, 75,432924650], [ 2, "Avneet", 59,72,85,7236598]]
lst[1][5]

In [7]:
dct = {1:"Sakshi",2: "Avneet", 3: "Riya", 4: 23, "a":"Aman", False: "23", True: "22", 1: "Arya"}
dct

{1: 'Arya', 2: 'Avneet', 3: 'Riya', 4: 23, 'a': 'Aman', False: '23'}

In [8]:
len(dct)

6

### 2. Access data from a dictionary

In [13]:
dct[4]

23

In [14]:
dct.keys()

dict_keys([1, 2, 3, 4, 'a', False])

In [15]:
dct.values()

dict_values(['Arya', 'Avneet', 'Riya', 23, 'Aman', '23'])

### 3. Add Data in a Dictionary

In [16]:
dct

{1: 'Arya', 2: 'Avneet', 3: 'Riya', 4: 23, 'a': 'Aman', False: '23'}

In [17]:
dct[5]= "Ashish"
dct

{1: 'Arya',
 2: 'Avneet',
 3: 'Riya',
 4: 23,
 'a': 'Aman',
 False: '23',
 5: 'Ashish'}

### 4. Delete data

In [18]:
del dct[5]

In [19]:
dct

{1: 'Arya', 2: 'Avneet', 3: 'Riya', 4: 23, 'a': 'Aman', False: '23'}

### 5. Access data using keys

### 5. Write a program

- Add name of 5 users in a dictionary wrt roll_number
- Find the name of roll_no 3
- Find the roll_no of Sakshi
- Find Roll_no.
Name :
Total_MArks :
Avg :
Grade :
- Update dictionary with grade

In [26]:
dct = {}
for i in range(1,6):
  dct[i] = input("Enter name for roll no " + str(i))
print(dct)

Enter name for roll no 1a
Enter name for roll no 2b
Enter name for roll no 3x
Enter name for roll no 4f
Enter name for roll no 5g
{1: 'a', 2: 'b', 3: 'x', 4: 'f', 5: 'g'}

In [27]:
dct

{1: 'a', 2: 'b', 3: 'x', 4: 'f', 5: 'g'}

In [28]:
dct[4] = "Sakshi"

In [29]:
dct

{1: 'a', 2: 'b', 3: 'x', 4: 'Sakshi', 5: 'g'}

In [37]:
dct[6]= "Sakshi"

In [38]:
dct.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [40]:
for i in dct.keys():
  if(dct[i] == "Sakshi"):
    print(i,dct[i])

4 Sakshi
6 Sakshi

In [53]:
data = {1 : {'name' : 'Ashish', 'english' : 54, 'math': 60, 'science': 70, 'phone_no' : 61294621},
        2 : {'name' : 'Sakshi', 'english' : 33, 'math': 75, 'science': 85, 'phone_no' : 823758937},
        3 : {'name' : 'Avneet', 'english' : 23, 'math': 70, 'science': 80, 'phone_no' : 823758937}
        }

In [42]:
len(data)

1

In [54]:
for i in data.keys():
  print(data[i]["name"])

Ashish
Sakshi
Avneet

In [ ]:
data = {1 : {'name' : 'Ashish', 'english' : 54, 'math': 60, 'science': 70, 'phone_no' : 61294621},
        2 : {'name' : 'Sakshi', 'english' : 33, 'math': 75, 'science': 85, 'phone_no' : 823758937}}